<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Image Encryptor/Decryptor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <script>
      // Displays an error message in the HTML element.
      const showError = (error) => {
        var errorDisplay = document.getElementById("error-display");
        errorDisplay.innerText = "Error: " + error;
        errorDisplay.hidden = false;
      };

      // Encrypts an image and starts the file download.
      const encrypt = async () => {
        let data = new FormData();
        data.append(
          "file",
          document.getElementById("encrypt-image-input").files[0]
        );
        const response = await fetch("/encrypt", {
          method: "POST",
          body: data,
        })
          .then((response) => {
            // Checking if the encryption was successful
            if (!response.ok) {
              // Extracting the response text to show as an error
              response.text().then((text) => {
                showError(text);
              });
              throw new Error();
            }
            console.log(response);
            // Displaying the secret key
            var keyText = document.getElementById("encrypt-key-output");
            keyText.value = response.headers.get("key");
            return response.blob();
          })
          .then((blob) => {
            // Temporarily creating an element to download the image
            let tempUrl = URL.createObjectURL(blob);
            const aTag = document.createElement("a");
            aTag.href = tempUrl;
            aTag.download = tempUrl.replace(/^.*[\\/]/, "") + ".jpg";
            document.body.appendChild(aTag);
            aTag.click();
            URL.revokeObjectURL(tempUrl);
            aTag.remove();
            // Hiding error display
            var errorDisplay = document.getElementById("error-display");
            errorDisplay.hidden = true;
          })
          .catch((error) => {});
      };

      // Copies the content of the key text box into the user's clipboard.
      const copyKey = () => {
        var keyText = document.getElementById("encrypt-key-output");
        keyText.select();
        keyText.setSelectionRange(0, 99999);

        navigator.clipboard.writeText(keyText.value);
      };

      const decrypt = async () => {
        let data = new FormData();
        data.append(
          "file",
          document.getElementById("decrypt-image-input").files[0]
        );
        data.append("key", document.getElementById("decrypt-key-input").value);
        const response = await fetch("/decrypt", {
          method: "POST",
          body: data,
        })
          .then((response) => {
            // Checking if the decryption was successful
            if (!response.ok) {
              // Extracting the response text to show as an error
              response.text().then((text) => {
                showError(text);
              });
              throw new Error();
            }
            console.log(response);
            return response.blob();
          })
          .then((blob) => {
            // Temporarily creating an element to download the image
            let tempUrl = URL.createObjectURL(blob);
            const aTag = document.createElement("a");
            aTag.href = tempUrl;
            aTag.download = tempUrl.replace(/^.*[\\/]/, "") + ".jpg";
            document.body.appendChild(aTag);
            aTag.click();
            URL.revokeObjectURL(tempUrl);
            aTag.remove();
            // Hiding error display
            var errorDisplay = document.getElementById("error-display");
            errorDisplay.hidden = true;
          })
          .catch((error) => {});
      };
    </script>

    <div class="container">
      <h1 class="bd-title">Image Encryptor/Decryptor</h1>
      <hr />
      <p class="alert alert-danger" hidden="true" id="error-display"></p>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        "
      >
        <div style="max-width: 500px">
          <h2>Encryption</h2>
          <div
            style="display: flex; flex-direction: column; justify-items: center"
          >
            <div style="margin: 5px">
              <h3>Step 1</h3>
              <p style="margin: 5px">
                Press the "Browse..." button below to select an image you want
                to encrypt.
              </p>
              <input
                type="file"
                accept="image/*"
                class="form-control-file"
                name="file"
                id="encrypt-image-input"
                style="margin: 5px"
              />
            </div>
            <div style="margin: 5px">
              <h3>Step 2</h3>
              <p style="margin: 5px">
                Press the "Encrypt" button below to download the encrypted
                image.
              </p>
              <button
                onclick="encrypt()"
                class="btn btn-primary"
                style="margin: 5px"
              >
                Encrypt
              </button>
            </div>
            <div style="margin: 5px">
              <h3>Step 3</h3>
              <p style="margin: 5px">
                After encrypting, copy the secret key below and store it in a
                secure place.
              </p>
              <div style="margin: 5px">
                <input
                  type="password"
                  readonly="readonly"
                  id="encrypt-key-output"
                />
                <button onclick="copyKey()">Copy</button>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            border-left: var(--bs-border-width) solid rgb(222, 226, 230);
            opacity: 0.25;
            height: 600px;
            margin: 20px;
          "
        ></div>
        <div style="max-width: 500px">
          <h2>Decryption</h2>
          <div style="display: flex; flex-direction: column">
            <div style="margin: 5px">
              <h3>Step 1:</h3>
              <p style="margin: 5px">
                Press the "Browse..." button below to select an image you want
                to decrypt.
              </p>
              <input
                type="file"
                accept="image/*"
                class="form-control-file"
                name="file"
                id="decrypt-image-input"
                style="margin: 5px"
              />
            </div>
            <div style="margin: 5px">
              <h3>Step 2:</h3>
              <p style="margin: 5px">
                Paste the secret key obtained when encrypting the image into the
                text box below.
              </p>
              <div style="margin: 5px">
                Key:
                <input
                  type="password"
                  id="decrypt-key-input"
                  style="margin: 5px"
                  placeholder="Paste your key here..."
                />
              </div>
            </div>
            <div style="margin: 5px">
              <h3>Step 3</h3>
              <p style="margin: 5px">
                Press the "Decrypt" button below to download the decrypted
                image.
              </p>
              <button
                onclick="decrypt()"
                class="btn btn-primary"
                style="margin: 5px"
              >
                Decrypt
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
